<html lang="en" xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="utf-8" http-equiv="Content-Security-Policy" content="script-src 'self' 'unsafe-eval' 'sha256-In6B8teKZQll5heMl9bS7CESTbGvuAt3VVV86BUQBDk='"/>
    <title><%= lang('app.title') %></title>
    <script src="./assets/js/scripts/uicore.js"></script>
    <script src="./assets/js/scripts/uibinder.js"></script>
    <link href="https://cdn.jsdelivr.net/npm/tailwindcss@2.2.19/dist/tailwind.min.css" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="./assets/css/launcher.css">
    <style>
        body {
            /* background: url('assets/images/backgrounds/<%=bkid%>.jpg') no-repeat center center fixed;*/
            background-color: #000000;
            transition: background-color 1s ease;
            background-size: cover;
            -webkit-user-select: none;
        }
        #main {
            display: none;
            height: 100%;
            background: rgba(21, 21, 21, 0.5);
            width: 100%;
            position: absolute;
            z-index: 10;
        }
        #main[overlay] {
            filter: blur(3px) contrast(0.9) brightness(1.0);
        }
    </style>
</head>
<body bkid="<%=bkid%>">
    <div id="main">
        <%- include('welcome') %>
        <%- include('login') %>
        <%- include('waiting') %>
        <%- include('loginOptions') %>
        <%- include('settings') %>
        <%- include('landing') %>
    </div>
    <%- include('overlay') %>
    <div id="loadingContainer">
        <div id="loadingContent">
            <div class="loader">
                <div><img src="./assets/images/SealCircle.png"></div> 
            </div>
            <style>
                .loader div {
                    display:inline-block;
                    overflow:hidden;
                    white-space:nowrap;
                }

                .loader div:first-of-type {    /* For increasing performance 
                                    ID/Class should've been used. 
                                    For a small demo 
                                    it's okaish for now */
                    animation: showup 10s infinite;
                }

                @keyframes showup {
                    0% {opacity:0;}
                    20% {opacity:1;}
                    80% {opacity:1;}
                    100% {opacity:1;}
                }
            </style>
        </div>
    </div>
</body>
</html>